body{
  font-family: 'Poppins', sans-serif;  }
  *{
    margin:0;
    padding:0
  }
  .card img{
    width:100px;
    height:100px;
    display:block;
    margin:auto;
    border-radius:50%;
  }
  .card div h2{
    text-transform:uppercase;
    margin-top:20px;
    margin-bottom:20px;
    line-height:24px
  }
  .card div h2 span{
    font-size:14px;
    color:#000000;
  
  }
  .card div  p{
      color: rgb(0, 0, 0);
     
  }
 
  .card div ul{
    list-style:none;
    transition:0.2s;

  }
  .card div ul li{
    margin:50px 10px;
    display:inline-block;


  }

  .card div ul li a{
    color:#2980b9;
    font-size: 20px;
   transition:0.2s;

  }
   
  .card div ul li a:hover{
    color:#000;
  }
  .card div a.btn{
    text-decoration:none;
    color:rgb(0, 0, 0);
    letter-spacing:5px;
    font-weight:bold;
    border:1px solid #000;
    font-weight:bold;
    padding:10px;
    border-radius:7px;
    margin-top:15px;
    display:inline-block;
    transition:0.2s;
  
  }
  .card div a.btn:hover{
    border-color:#ffffff;
    background-color: rgb(180, 110, 110);
  }
  .card:before{
    position:absolute;
    content:'';
    width:100px;
    height:100px;
    background:rgb(233, 245, 124);
    bottom:0;
    right:0;
    z-index:-1;
    border-top-left-radius:100px;
    transition:0.5s;
  }
  .card:hover:before{
    transform:scale(10)
  }
  
  
  
  .card{
    width:300px;
    height:auto;
    background:#efefef;
    padding:30px;
    box-sizing:border-box;
    text-align:center;
    border-radius:20px;
    position:absolute;
    left:50%;
    top:50%;
    transform:translate(-50%,-50%);
    overflow:hidden;
  }
  
  
  
  
